<h1 class="title">Credit Card Request</h1>

<div class="credit-card">
    <div class="cover"></div>
    <div class="credit-card-container">
        <div class="message-form">
            <div class="form">
                <form [formGroup]="creditCardForm" (ngSubmit)="onSubmit()"> 
                    <div class="form-group">
                        <label for="fullname" class="label">Full Name:</label>
                        <input id="fullname" formControlName="fullname" type="text" class="input" placeholder="Nom complet">
                        <div *ngIf="fullnameControl?.errors && fullnameControl?.touched" class="text-danger">
                            Nom complet est requis
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="label">Email:</label>
                        <input id="email" formControlName="email" type="email" class="input" placeholder="Email">
                        <div *ngIf="emailControl?.errors && emailControl?.touched" class="text-danger">
                            Veuillez entrer un email valide
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="label">phoneNumber Number:</label>
                        <input id="phoneNumber" formControlName="phoneNumber" type="text" class="input" placeholder="TéléphoneNumber">
                        <div *ngIf="phoneNumberControl?.errors && phoneNumberControl?.touched" class="text-danger">
                            TéléphoneNumber est requis
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="annualRevenue" class="label">Annual revenue:</label>
                        <input id="annualRevenue" formControlName="annualRevenue" type="number" class="input" placeholder="Revenu annuel">
                        <div *ngIf="annualRevenueControl?.errors && annualRevenueControl?.touched" class="text-danger">
                            Revenu annuel est requis
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="adress" class="label">adress:</label>
                        <input id="adress" formControlName="adress" type="text" class="input" placeholder="Adresse">
                        <div *ngIf="adressControl?.errors && adressControl?.touched" class="text-danger">
                            Adresse est requise
                        </div>
                    </div>
                    <button type="submit" class="button">Submit</button>
                </form>
            </div>
        </div>
        <div *ngIf="isFormSubmitted" class="success-message">
            {{ successMessage }}
        </div>
    </div>
</div>
